[submodule "solospeech/SoloSpeech"]
	path = solospeech/SoloSpeech
	url = git@github.com:Hearable-Dongle/SoloSpeech.git
[submodule "speech_separation/TIGER"]
	path = speech_separation/TIGER
	url = https://github.com/JusperLee/TIGER.git
