[submodule "solospeech/SoloSpeech"]
	path = solospeech/SoloSpeech
	url = git@github.com:Hearable-Dongle/SoloSpeech.git
[submodule "speech_separation/TIGER"]
	path = speech_separation/TIGER
	url = https://github.com/JusperLee/TIGER.git
[submodule "asteroid"]
	path = asteroid
	url = git@github.com:Hearable-Dongle/asteroid.git
[submodule "speakerbeam"]
	path = speakerbeam
	url = git@github.com:Hearable-Dongle/speakerbeam.git
